<div class="d-flex flex-column">
    <h4 class="text-center">User Profile</h4>
    <div>
        <p>Id: {{id}}</p>
        <p>Title - {{title}}</p>
        <p>Year - {{year}}</p>
    </div>
    <a href="/logout">logout</a>
</div>
